
@media screen and (max-width: 800) {
    body{
        grid-template-areas:
        "cabeca"
        "corpo"
        "aside"
        "pe";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    } 
}

body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "second corpo corpo"
    "pe pe pe";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

}

header{
    grid-area: cabeca;
    text-align: center;
    background-color: #000000;
}

aside{
    grid-area: second;
    background-color: grey;
}

main{
    grid-area: corpo;
    background-color: rgb(0, 0, 0);
}

footer{
    grid-area: pe;
    background-color: rgb(19, 228, 228);
}

header img{
    width: 350px;
}

.cardmae{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border: whitesmoke 2px solid;
}

.card{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin: 6px;
    border: white 2px solid;
    width: 320px;
    height: 320px;
    color: white;
    border-radius: 10px;
}
.card img{
    width: 220px;
    height: 220px;
    border-radius: 5px;
    top: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.yt{
    width: 70px;
    top: 5px;
}
.botaoyt{
    width: 100px;
    height: 100px;
    background-color: black;
}

/*css do navbar*/
header{
    font-family: "poppins";
    font-size: 18px;
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #000000;
    color: white;
}
ul{
    margin: 2px;
    padding: 2px;
    list-style: none;
}
nav{
    width: 100%;
    box-shadow: 
    0 0 10px
    rgb(0 0 0 / 8%);
}
.menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70px;
}
.menu li{
    display: inline-block;
    width: 90px;
}
.menu li:hover .submenu{
    height: 85px;
}
.menu > li:hover > a{
    color: #4ac6ff;
}
.menu > li:hover >
    a::before{
        visibility: visible;
        scale: 1 1;
    }
.submenu{
    overflow: hidden;
    position: absolute;
    left: 0;
    display: block;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background: #3e95ff;
    height: 0;
    line-height: 40px;
    box-sizing: border-box;
    height: 0.5s
    ease-in-out;
}
.menu li .submenu a{
    color: #fff;
    opacity: 0;
    font-size: 16px;
    transition: opacity 0.5s;
}
.menu > li:hover .submenu a{
    opacity: 1;
}
menu > li .submenu a:hover{
    background: rgb(0, 0, 0 / 20%);
}
menu > li a{
    color: #999;
    position: relative;
    height: 100%;
}
.menu > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background: #3e95ff;
    transition: 0.5
    all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}
/*fim do css no navbar




