@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: 'Quicksand'
}
@media screen and (max-width: 800) {
    body{
        grid-template-areas:
        "cabeca"
        "corpo"
        "aside"
        "pe";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    } 
}

body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "second corpo corpo"
    "pe pe pe";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

}

header{
    grid-area: cabeca;
    text-align: center;
    background-color: #f3f3f3;
}

aside{
    grid-area: second;
    background-color: grey;
}

main{
    grid-area: corpo;
    background-color: rgb(0, 0, 0);
}

footer{
    grid-area: pe;
    background-color: rgb(19, 228, 228);
}

header img{
    width: 350px;
}

.cardmae{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border: whitesmoke 2px solid;
}

.card{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin: 6px;
    border: white 2px solid;
    width: 300px;
    height: 320px;
    color: white;
    border-radius: 10px;
}
.card img{
    width: 240px;
    height: 220px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.yt{
    width: 40px
}