
body{
    color:  white;
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "second corpo corpo"
    "pe pe pe";
    grid-template-columns: 500px auto auto;

}

header{
    grid-area: cabeca;
}

aside{
    grid-area: second;
    background-color: dimgray;
}

main{
    grid-area: corpo;
    background-color: black;
}

footer{
    grid-area: pe;
    background-color: aqua;
}

header{
    text-align: center;
    background-color: dimgray;
}

.logo{
    width: 300px;
}

@media screen (max-width: 800); {
    body{
        grid-template-areas:
        "cabeca"
        "corpo"
        "aside"
        "pe";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    } 
}

.tiffany{
    width: 300px;
}
.freddy{
    width: 300px;
}
.instagram{
    border-radius: 100px;
    height: 50px;
}

.insta{
    width: 70px;
}

.wr{
    width: 300px;
}
.witness{
    width: 300px;
}
.kyrie{
    width: 300px;
}
div.links button:hover{
    transition: 1;
    color: grey;
    background-color:linear-gradient(blue red);

}
.youtube{
    width: 70px;
}
.youtube{
    border-radius: 100px;
    height: 50px;
}
.elementomae{
    border: 2px blue solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.caixa{
    border: 2px red solid;
    width: 80px;
    height: 80px;
    display: flex;

}
.card{
    border: 2px solid grey;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tiffany{
    width: 300px;
}
.airforce{
    width: 100px;
    border-radius: 100px;

}
.elementomae{
    width: 300px;
}